<ion-header>
  <ion-navbar>
    <ion-title>
      Escaner QR
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h3>Escanear Productos</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="verDetalles()" icon-right>
            <ion-icon name="camera" class="iconCamera"></ion-icon>
            <p>Escanear</p>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <h4>Lista de productos</h4>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="productosService.listarProductos().length == 0">
        <ion-col text-center>
          <h6>No hay productos</h6>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="productosService.listarProductos().length > 0">
    <ion-row>
      <ion-col col-6>
        Producto
      </ion-col>
      <ion-col col-3>
        Precio
      </ion-col>
      <ion-col col-2>
        Cantidad
      </ion-col>
      <ion-col>
        Opción
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let producto of productosService.listarProductos()">
      <ion-col col-6>
        {{producto.nombre}}
      </ion-col>

      <ion-col text-center col-3>
        {{producto.precio}}
      </ion-col>
      <ion-col text-center col-2>
        {{producto.cantidad}}
      </ion-col>
      <ion-col>
        <button ion-button (click)="quitarProducto(producto.id)" color="danger">X</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h6 text-center>Total: $ {{productosService.totalAPagar}}</h6>
  <button ion-button block (click)="guardarProductos()">Ir al carrito</button>

</ion-content>